/* GOOGLE FONTS */

.bebas {
    font-family: "Bebas Neue", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
  }
.monoton {
    font-family: "Monoton", serif;
    font-weight: 400;
    font-style: normal;
  }

/* START OF DESIGN */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif ;
    /*background: url(/mini-projects/Product-Landing-Page/assets/Background/BG-main.jpg); */
    width: 100%;
  height: 100%;
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
}

#page-wrapper{
    position: relative;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    margin-top: 20px;
    top: 0;
    background: transparent;
    position: sticky;
}
div{
    display: block;
    unicode-bidi: isolate;
}
.logo{
    width: 60vw;
    display: grid;
    grid-template-columns: 60px 60px;
    gap: 0;
    position: relative;
    left: 60px;
}

.logo a > img{
    width: 100%;
    height: 90%;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    aspect-ratio: 16 /9;
    cursor: pointer;
}

.logo h1{
    align-items: center;
    padding-left: 20%;
    letter-spacing: 5px;
    color: #5B913B;
    text-shadow: #5B913B 1px 0px 4px;
    cursor: pointer;
}

/* NAVBAR */
nav{
    font-weight: 600;
    display: block;
    unicode-bidi: isolate;
}
nav > ul{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
li{
    list-style: none;
    cursor: pointer;
    max-width: 400px;
    font-size: 18px;
    text-shadow: rgba(0, 0, 0, .3) 1px 0px 4px;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#nav-bar li:last-of-type a{
    color: #5B913B;
}
#nav-bar li a:hover{
    color: #5B913B ;
}


#nav-bar li:hover{
    color: #5B913B;
    transform: translate(1px, 5px);
    transition: all .3s;
}



/* FEATURES */

.container{
    max-width: 900px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    align-content: center;
    /* backdrop-filter: blur(55px); */
    position: relative;
    top: 120px;
    right: 60px;
}
#features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 150px;
}
.card {
    position: relative;
    width: 250px;
    height: 300px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 15px;
    border-radius: 8px;
    cursor: pointer;
  }
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 260px;
    height: 310px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #F4FFC3 0%, #5D8736 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .heading {
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: "DM Serif Text", serif;
    text-shadow: rgba(255, 255, 0, .4) 1px 0px 6px;
  }
  .card p:not(.heading) {
    font-size: 14px;
  }
  
  .card p:last-child {
    color: #e81cff;
    font-weight: 600;
  }
  
  .card:hover::after {
    filter: blur(30px);
  }
  
  .card:hover::before {
    transform: rotate(-75deg) scaleX(1.24) scaleY(0.77);
  }  

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 15px 0px 15px rgba(0, 0, 0, .3) ;
  }
  .grid img{
    position: absolute;
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 10px;
  }

  .item-img:hover{
    transform: scale(2);
    transition: all 2s;
    z-index: 999;
  }



/* KEYFRAMES AND PROPERTIES*/


@keyframes shake {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 5deg;
    }
}